.row-fluid.col-xs-12.col-sm-8.col-md-10.col-lg-10{:style => "float:right;top:40px;text-align:center;"}
  %h1.show_provider_headline= @provider.name
  #follow_provider
    = render :partial => "providers/follow_provider", :locals => {:provider => @provider}
  / <h1 class="round-button">+</h1>
  %p.count_and_followers
    = @provider.recordings.count
    Audicles | #{@provider.followers.count} Listeners
  %hr/
  #columns
    - @provider.recordings.each do |provider_recording|
      .pin.user_show_pin
        %p{:style => "font-size:12px;text-align:center"}= link_to "#{provider_recording.title}", recording_path(provider_recording.id)
        = link_to image_tag("#{provider_recording.image}"), "#"
        %br/
        %p{:style => "font-size:10px;display:inline-block;"}= provider_recording.author
        %br/
        %p{:style => "font-size:10px;display:inline-block;"}= link_to "Save +", "#"
        %p
          = link_to like_recording_path(provider_recording.id), method: :put, remote:true do
            %i.fa.fa-indent
