= render "layouts/sidebar"
.row-fluid.col-xs-12.col-sm-8.col-md-10.col-lg-10{:style => "float:right;top:40px;"}
  = link_to "New Recording", new_recording_path
  - @recordings.each do |feed_item|
    .pin
      %h1= link_to "#{feed_item.title}", recording_path(feed_item.id), style:""
      = link_to image_tag("#{feed_item.provider.image_url}"), recording_path(feed_item.id)
      %p{:style => "font-size:12px;text-align:center"}= link_to "#{feed_item.provider.name}", provider_path(feed_item.provider.id)
      %p{:style => "font-size:12px;text-align:center"}= feed_item.author
      %p
        = link_to like_recording_path(feed_item.id), method: :put, remote:true do
          %i.fa.fa-indent
