.row-fluid.col-xs-12.col-sm-8.col-md-10.col-lg-10{:style => "float:right;top:40px;"}
  #columns
    - @starred_list.each do |list_item|
      .pin
        %h1= link_to "#{list_item.voteable.title}", recording_path(list_item.voteable.id), style:""
        = link_to image_tag("#{list_item.voteable.image}"), recording_path(list_item.voteable.id)
        %p{:style => "font-size:12px;text-align:center"}= link_to "#{list_item.voteable.provider.name}", provider_path(list_item.voteable.provider.id)
        %p{:style => "font-size:12px;text-align:center"}= list_item.voteable.author
        - if current_user.voted_on?(list_item.voteable)
          %p
            = link_to dislike_recording_path(list_item.voteable.id), method: :put, remote:true do
              %i.fa.fa-indent
        - else
          %p
            = link_to like_recording_path(list_item.voteable.id), method: :put, remote:true do
              %i.fa.fa-indent
