%div
  = image_tag "small_logo_hover.png", style:"margin:45px auto 10px auto;position: relative;display: inherit"
  %h4{:style => "color:#0e1214;margin:0 auto;position: relative;text-align:center;font-family:'Raleway';font-size:24px"} Welcome Back!
  = form_for(resource, as: resource_name,  url: session_path(resource_name)) do |f|
    %div
      / <#%= f.label :email %>
      %br/
      = f.email_field :email, autofocus: true, placeholder:"Email"
    %div
      / <#%= f.label :password %>
      %br/
      = f.password_field :password, autocomplete: "off", placeholder:"Password"
    %div= f.submit "Log in "
    = render "devise/shared/links"
